@import '~bootstrap/dist/css/bootstrap.min.css';


body{
   font-size: 20px;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo {
    width: 50px;
    height: 50px;
}

.icon-link {
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding: 40px;
    align-items: center;
    column-gap: 60px;
    justify-content: flex-start;
}

.horizontal {
    column-gap: 60px;
    display: flex;
    flex-direction: row;
}

.input-form {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    background-color: #F1F0F2;
    padding: 50px 70px ;
    border-radius: 20px;
    border: solid grey 1px;

}

.comments {
    padding-top: 80px;
}

.select {
   height: 50px;
   z-index: 234;
}

.for-task {
    height: 500px;
}

.form {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.register-form {
    width: 700px;
    height: 500px;
}


a{
    text-decoration: none;
}

a:hover {
   cursor: pointer;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.profile {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 80px;
    padding-top: 30px;
    padding-left: 50px;
}

.profile-image{
    width: 20%;
    height: 20%;
}

.list-group {
    /* row-gap: 40px; */
    /* background-color: #F1F0F2; */
    padding: 30px;
    border-radius: 20px;
    /* border: solid grey 1px; */
    width: 60%;
}

.btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 250px;
    bottom: -50px;
}

.task-btns {
    padding-top: 30px;
    display: flex;
    column-gap: 30px;
}

.boards {
    width: 85%;
    padding-bottom: 30px;
}

.card {
    width: 85%;
    height: 200px;
    text-align: center;
    border-width: 2px;
}

.card-body {
    gap: 20px;
}

.board-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 40px;
}

.board-actions {
    display: flex;
    column-gap: 10px;
    align-self: flex-end;
}

.tasks {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.whole-width {
    width: 100%;
}